victoria-metrics-k8s-stack:
  vmsingle:
    spec:
      retentionPeriod: "1d"
      storage:
        accessModes: ["ReadWriteOnce"]
        resources:
          requests:
            storage: "1Gi"
      extraArgs:
        storage.minFreeDiskSpaceBytes: "100MB"
      resources:
        limits:
          memory: "800Mi"
        requests:
          memory: "400Mi"

  vmagent:
    spec:
      resources:
        limits:
          memory: "300Mi"
        requests:
          memory: "150Mi"

  grafana:
    enabled: true
    adminPassword: "admin"
    persistence:
      enabled: true
      size: "1Gi"
    resources:
      limits:
        memory: "1Gi"
        cpu: "1000m"
      requests:
        memory: "256Mi"
        cpu: "200m"

  victoria-metrics-operator:
    admissionWebhooks:
      enabled: false

victoria-logs-single:
  server:
    retentionPeriod: "1d"
    persistentVolume:
      enabled: true
      size: "1Gi"
      accessModes: ["ReadWriteOnce"]
    resources:
      limits:
        memory: "512Mi"
      requests:
        memory: "256Mi"
    extraArgs:
      storage.minFreeDiskSpaceBytes: "100MB"

fluent-bit:
  config:
    outputs: |
      [OUTPUT]
          Name  http
          Match *
          Host  vm-victoria-logs-single-server
          Port  9428
          URI   /insert/jsonline?_stream_fields=pod_name,container_name,namespace_name
          Format json_lines
          json_date_format iso8601
  resources:
    limits:
      memory: "300Mi"
    requests:
      memory: "150Mi"