apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "mychart.fullname" . }}-db-deployment
spec:
  replicas: {{ .Values.db.replicaCount }}
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
        - name: db
          image: {{ .Values.db.image }}
          imagePullPolicy: {{ .Values.imagePullPolicy }}
          resources:
            {{- toYaml .Values.db.resources | nindent 12 }} # пробіли з лівого краю це число 12
          ports:
            - containerPort: 5432
          envFrom:
            - secretRef:
                name: postgres-secret 
          volumeMounts:
            - mountPath: /var/lib/postgresql/data
              name: db-volume
      volumes:
            - name: db-volume
              persistentVolumeClaim:
                claimName: db-pvc