---
- name: Install Docker on Ubuntu using official Docker repo
  hosts: all
  become: true

  tasks:
    - name: Update apt
      apt:
        update_cache: true

    - name: prerequisite packages
      apt:
        name:
          - apt-transport-https
          - curl
          - software-properties-common
          - ca-certificates
          - gnupg
        state: present

    - name: GPG key for the official Docker repository
      apt_key:
        url: https://download.docker.com/linux/ubuntu/gpg
        state: present

    - name: Add the Docker repository to APT sources
      apt_repository:
        #repo: "deb [arch={{ ansible_architecture }}] https://download.docker.com/linux/ubuntu {{ ansible_distribution_release }} stable"
        repo: deb [arch=amd64] https://download.docker.com/linux/ubuntu focal stable
        state: present

    - name: Install Docker and Docker Compose
      apt:
        name:
          - docker-ce
          - docker-ce-cli
          - containerd.io
          - docker-buildx-plugin
          - docker-compose-plugin
        state: present
        update_cache: true

    - name: Ensure Docker service is enabled and started
      service:
        name: docker
        state: started
        enabled: yes

    - name: Add vagrant user to docker group
      user:
        name: vagrant
        groups: docker
        append: yes
      notify:
        - Reload systemd manager
        - Restart docker service

  handlers:
    - name: Reload systemd manager
      systemd:
        daemon_reload: yes

    - name: Restart docker service
      service:
        name: docker
        state: restarted